<!-- // 单文件html使用Vue -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>V</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        #appaa {
            position: relative;
            margin: 0mm;
            padding: 10px;
            width: 100%;
            height: 100cm;
            background-color: aqua;
            /* border-radius: 12.5mm; */
        }
    </style>

</head>

<body>
    <div id="app">
        <h1>{{msg}}</h1>
        <h1 @mousemove="">mousemove</h1>

        <!-- v-text/v-html/v-cloak/v-model
            v-for:"(v, index) in items"
            v-bind:class="{类名: bool}" / "[]"
            v-bind:src="url"
            v-bind:style="{css-key: value}" / "[]" -->

        <button v-on:click="fun(a, $event)">btn</button>
        <button @click.stop="fun">btn2</button>
        <!-- 事件修饰符 -->
        <!-- stop 阻止事件冒泡 -->
        <!-- prevent 阻止默认事件 -->
        <input type="submit" @click.prevent=""></input>
        <!-- keycode | keyvalue -->
        <button @keyup.enter="fun()">btn2</button>
        <!-- once 触发一次-->

        <!-- 条件判断 -->
        <!-- v-if/v-else-if/v-else -->
        <p v-if="isShow">v-if</p>
        <p v-else>v-else</p>

        <!-- 不建议可以用函数替代  -->
        <p v-if="score>=80">优秀</p>
        <p v-else-if="score>=60">及格</p>
        <p v-else>不及格</p>

        <!-- v-show style={display: none}-->
        <h1 v-show="isShow">v-show</h1>

        <!-- v-for="" :key="" 给for加key绑定-->

        <!-- html点击标题聚焦到输入框 -->
        <div>
            <span>
                <label for="name">name</label>
                <input type="text" id="name">
            </span>
        </div>
        <!-- 过滤器 -->
        <p>{{price | showPrice}}</p>


        <p v-for="i in l">{{i}}</p>

        <!-- v-model 双向绑定 -->
        <input type="text" v-model.lazy\number\trim="msg">
        <!-- 修饰符 lazy 失去焦点触发/number 改为数字类型/trim 删除空格-->
        <!-- <input type="text" v-bind:value="msg" v-on:input="msg = $event.target.value"> -->
        <label for="male">
            // 互斥 name/v-model 表单提交一个
            <input type="redio" id="male" name="sex" value="男" v-model="sex">男
            <input type="redio" id="female" name="sex" value="女" v-model="sex">女
        </label>

        <label for="licence">
            <input type="checkbox" name="" id="licence" v-model="isAgree">同意协议
        </label>

        <div>
            <label v-for="itme in options" :for="item">
                <input type="checkbox" :value="item" id="item" v-model="hobbies">{{item}}
            </label>
            <!-- <input type="checkbox" name="" value="1" v-model="hobbies">篮球
            <input type="checkbox" name="" value="2" v-model="hobbies">足球
            <input type="checkbox" name="" value="3" v-model="hobbies">羽毛球
            <input type="checkbox" name="" value="4" v-model="hobbies">乒乓球 -->
        </div>

        <div>
            <select name="form-key" id="" v-model="selected">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div>
            <select name="form-key2" id="" v-model="selecteds" multiple>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>

    <script>
        // 数组的响应式修改方法
        // push/pop/shift/unshift/splice/sort/reverse
        // Vue.set([], index, value)

        const v = new Vue({
            el: "#app",
            data: {
                msg: "hello",
                a: 123,
                isShow: true,
                score: 100,
                price: 13,
                l: [1, 3, 4],
                sex: "",
                isAgree: false,
                options = ["篮球", "足球", "羽毛球", "乒乓球", "网球"],
                hobbies: [],
                selected: "1",
                selecteds: [],
            },
            methods: {
                fun() {
                    alert("fun")
                }
            },
            computed: {
                attr: function() {
                    return value
                },
                attr2: {
                    set: function(value) {},
                    get: function() {}
                }
            },
            filters: {
                showPrice(price) {
                    return "¥" + price.toFixed(2)
                }
            }
        });
    </script>
</body>

</html>